.product {
    display: flex;
    margin-bottom: 10px;
  }
  
  .product-image {
    width: 200px;
    height: 250px;
    margin-right: 10px;
  }
  
  .product-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .product-price {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .quantity {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .quantity input {
    width: 30px;
    text-align: center;
  }
  
  .quantity button {
    margin: 0 5px;
  }
  
  .remove-btn {
    color: red;
    cursor: pointer;
  }
